// White
$white: #FFFFFF;

// Gray
$gray-1: #F8F8F8;
$gray-2: #F4F4F4;
$gray-3: #6F7B89;
$gray-4: #516075;
$gray-5: #9EAAB6;
$gray-6: #EEF6F9;
$gray-7: #E2EDF3;
$gray-8: #C3D1DA;
$gray-9: #E5E5E5;
$gray-10: #FCFDFE;

//Black 
$black: #142141;
$black-1: #0A0903;

// Blue
$blue-1: #3479F9;
$blue-2: #30C2FE;

// Red
$red-1: #B82734;
$red-2: #FF5D50;

// Orange
$orange-1: #ff9500;

// Yellow
$yellow-1: #FFD200;

// Green
$green-1: #43DC6F;